<h2>Eventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="form-gropup mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar" />
    <button class="btn btn-outline-sucess">Buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <thead>
    <tr *ngFor="let evento of eventos">
      <th></th>
      <th></th>
      <th> {{evento.tema}} </th>
      <th> {{evento.local}}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>
