<br />

<br />
<h3>Eventos</h3>
<hr />

<div class="form-inline">
  <div class="form-gropup mb-2">
    <!-- <label class="mr-2"> Filtro: </label> -->
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Filtrar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<!-- <h5>Filtro: {{ filtroLista }}</h5> -->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()"
        >
          {{ exibirImagem ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th class="col-lg-">Opçoes</th>

    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="../../assets/img/{{ evento.imagemUrl }}"
          [style.width.px]="150"
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-info btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>

    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length">
    <tr>
      <td class="text-center" colspan="8">Nenhum Evento Encontrado</td>
    </tr>
  </tfoot>
</table>
