<nav class="navbar navbar-expand-lg navbar-dark bg-dark" (click)="isCollapsed = !isCollapsed">
  <a class="navbar-brand"  href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>








<!-- (click)="isCollapsed = !isCollapsed" -->

<!-- [collapse]="isCollapsed" [isAnimated]="true" -->
