<br />

<br />
<app-titulo> Eventos </app-titulo>
<br />

<div class="form-inline">
  <div class="form-gropup mb-2">
    <!-- <label class="mr-2"> Filtro: </label> -->
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Filtrar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<!-- <h5>Filtro: {{ filtroLista }}</h5> -->

<table class="table rounded">
  <thead class="bg-info ">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">

          <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>


            {{ !exibirImagem ? "Exibir" : "Ocultar" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data e hora</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th class="col-lg-">Opçoes</th>

    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="../../assets/img/{{ evento.imagemURL}}"
          [style.width.px]="150"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | dateTimeFormatPipe}}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0].nome }}</td>
      <td>

        <button type="button" class="btn btn-info btn-sm mr-2" tooltip="Editar">
          <i class="fa-solid fa-pen mr-2"></i>
          <!-- Editar--></button>

        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa-solid fa-trash mr-2"></i>
          <!--Excluir--></button>
      </td>

    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length">
    <tr>
      <td class="text-center" colspan="8">Nenhum Evento Encontrado</td>
    </tr>
  </tfoot>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Realmente deseja deletar este evento?</p>
      <button type="button" class="btn btn-default" (click)="confirm()"> Sim </button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não </button>
    </div>
  </ng-template>
</table>


